:root{
    --color-primary: #dfdbdb;
    --color-secundary:#fff;
    --color-shadows: 3px 3px 5px rgba(0, 0, 0, 0.122);
    --color-font: #00000;
    --color-radient-1 : #74daf7;
    --color-radient-2 :   #d8ed71;
}